.floating-btn {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	background-color: #1890ff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
.floating-icon {
	height: 35px;
	width: 35px;
	display: block;
}
